.container {
  position: relative;
}

.overlay {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  transition: background 0.5s ease;
}

.container:hover .overlay {
  background: rgba(0, 0, 0, 0.3);
}

img {
  height: auto;
  width: auto;
  object-fit: cover;
  left: 0;
}

.container:hover img {
  opacity: 0;
  transition: width 0.5s 0.5s, height 0.5s 0.5s, opacity 0.5s;
}

.title {
  width: 100%;
  left: 0;
  font-weight: 700;
  font-size: 16pt;
  font-family: monospace;
  text-align: center;
  text-transform: uppercase;
  color: #1b242f;
  z-index: 1;
  transition: top .3s ease;
  opacity: 0;
  position: absolute;
  
}

.stack {
  position: absolute;
  width: 100%;
  left: 0;
  font-size: 11pt;
  text-align: center;
  z-index: 1;
  transition: top .2s ease;
  opacity: 0;
  font-family: Raleway;
  color: #003249
}

.container:hover .title {
  opacity: 1;
  animation: fadeIn 0.3s ease-in both;
  bottom: 75%;
  
}

.container:hover .stack {
  opacity: 1;
  animation: fadeIn 0.3s ease-in both;
  bottom: 65%;
}

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translate3d(0, -20%, 0);
	}
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both
}

.animatedFadeInUp {
  opacity: 0
}

.fadeInUp {
  opacity: 0;
  animation-name: fadeIn;
  -webkit-animation-name: fadeIn;
}

.button {
  position: relative;
  width: auto;
  bottom: 75px;
  text-align: center;
  opacity: 0;
  transition: opacity 0.35s ease;
}

.container:hover .button {
  opacity: 1;
  animation-name: fadeInUp;
  /* -webkit-animation-name:; */
}
