.highlight {
  color: #ffd60a;
}

.text {
  margin: 0 0 20px 0;
  pointer-events: none;
  color: #fff;
  font-family: "Raleway";
}

.flex {
  position: absolute;
  padding: 5px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.buttonContainer {
  position: absolute;
  padding: 5px;
  top: 72%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  z-index: 3;
}

.particles {
  width: 200vh;
  /* height: 100% */
}
